footer{
    width: 100%;
    height: 79px;
    background-color: rgb(22, 22, 22);
    display: inline-block;
}

div:nth-child(1){
    height: 1px;
    width: 94.3%;
    margin: 18px auto;
    display: table;
    background-color: white;
}

div:nth-child(2){
    text-align: center;
}

a{
    margin: 0 10px;
    font-size: 13px;
}