<nav class="pt-4 pb-4 sticky-top main-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-dark" href="https://github.com/dzavalahuerta" target="_blank">GitHub</a>
        <div class="link-line"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-dark" href="https://drive.google.com/file/d/1bBIxoMUynczJoBl__u8ok1RH6z6x3gLq/view?usp=sharing" target="_blank">Resume</a>
        <div class="link-line"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-dark" href="https://www.linkedin.com/in/daniel-zavala-huerta/" target="_blank">LinkedIn</a>
        <div class="link-line"></div>
      </li>
    </ul>
</nav>