.cards{
    width: 49%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-height{
    height: 300px;
}

#top-container{
    margin-top: 8em;
}

#bottom-container{
    margin-top: 1em;
}